spring:
  application:
    name: jobSearch

  jackson:
    serialization:
      indent-output: true

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

server:
  port: 8080
