spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.H2Dialect

  security:
    enabled: false
  h2:
    console:
      enabled: true

gcp:
  bucket: test-bucket
  credentials-path: src/test/resources/fake.json

openai:
  api-key: fake-test-key